<!DOCTYPE html>
<html>
<body>
  <form action="/teachers/rent">
    ID:<br>
    <input type="integer" name="id" value="123">
    <br>
    Name:<br>
    <input type="text" name="name" value="Bhaskar">
    <br>
    Subject:<br>
    <input type="text" name="subject" value="Chemistry">
    <br>
       <input type="submit" value="Submit">
     </form>
     <p>If you click the "Submit" button,the form-data will be sent to a page
     called "/action_page.php". </p>
   </body>
</html>
